.product-details{
    padding: 50px;
    margin-bottom: 30px;
    background-color: #fff;
}
.product-details .product-photo{
    text-align: center;
}
.product-details .product-photo img{
    max-height: 200px;
}
.purchase-form{
    padding: 50px;
}